# Скопируйте этот файл в .env и заполните
BOT_TOKEN=8843132507:AAHdhVjpaimK6xhAtrpiJO-ttVUbM_n5omo
# Ваш Telegram ID (можно несколько через запятую). Узнать: запустите бота и напишите ему /start
ADMIN_ID=5639348899

# Необязательно:
# WELCOME_TEXT=Здравствуйте! Напишите ваш вопрос.
# CONFIRM_TEXT=Сообщение получено, скоро ответим.
